<div class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
	<div class="uk-navbar-left">
		<a href="" class="uk-navbar-item uk-logo">Logo</a>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li>
				<a href="#">Films</a>
				<%# <div class="uk-navbar-dropdown">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li class="uk-active"><a href="#">Active</a></li>
						<li><a href="#">Item</a></li>
						<li class="uk-nav-header">Header</li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li class="uk-nav-divider"></li>
						<li><a href="#">Item</a></li>
					</ul>
				</div> %>
			</li>
			<li>
				<a href="#">Théâtre</a>
			</li>
			<li>
				<a href="#">News</a>
			</li>
		</ul>
	</div>
</div>