<div class="uk-padding-small">
	<h2 class="uk-heading-divider">Films à l'affiche</h2>
	<div uk-filter="target: .js-filter">
		<div class="uk-grid-small uk-grid-divider uk-child-width-auto uk-visible@s" uk-grid>
			<div>
				<ul class="uk-subnav uk-subnav-pill" uk-margin>
					<li class="uk-active" uk-filter-control><a href="#">All</a></li>
				</ul>
			</div>
			<div>
				<ul class="uk-subnav uk-subnav-pill" uk-margin>
					<li uk-filter-control="filter: [data-label='art-et-essai']; group: data-label"><a href="#">Art et Essai</a></li>
				</ul>
			</div>
			<div>
				<ul class="uk-subnav uk-subnav-pill" uk-margin>
					<li uk-filter-control="filter: [data-language='VOSTFR']; group: language"><a href="#">VOSTFR</a></li>
					<li uk-filter-control="filter: [data-language='VF']; group: language"><a href="#">VF</a></li>
				</ul>
			</div>
		</div>
		<ul class="js-filter uk-child-width-1-2 uk-child-width-1-4@m uk-text-center" uk-grid="masonry: true">
			<% @movies.each do |movie| %>
				<% languages = movie.shows.map do |show| %>
					<% show.language %>
				<% end %>
				<li 
          <% languages.each do |language| %>
            <% if language == "VF" %>
              data-language="VF"
            <% elsif language == "VOSTFR" %>
              data-language="VOSTFR"
            <% end %>
          <% end %>
        >
				<a class="uk-link-reset" href="<%= movie_path(movie) %>">
					<div>
						<div class="uk-card">
							<div class="uk-card-media-top">
								<img src="<%=image_path(movie.poster_500)%>" alt="" class="rounded">
							</div>
						</div>
					</div>
				</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>
