<div class="uk-position-relative uk-visible-toggle uk-light uk-padding-small uk-padding-remove-vertical uk-visible@s" tabindex="-1" uk-slideshow="animation: push; min-height: 300; max-height: 600; autoplay: true">
	<ul class="uk-slideshow-items">
		<% @movies.each do |movie| %>
			<li>
      <a href="<%= movie_path(movie) %>" uk-cover>
				<img src="https://image.tmdb.org/t/p/original/<%= movie.backdrop_path %>" >
      </a>
        <a href="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
					<h2 uk-slideshow-parallax="x: 100,-100"><%= movie.title %></h2>
					<div >
						<p class="uk-panel uk-panel-box uk-text-truncate" uk-slideshow-parallax="x: 200,-200"><%= movie.overview %></p>
					</div>
				</div>
        </a>
			</li>
		<% end %>
	</ul>
	<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
	<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
