<!DOCTYPE html>
<html class="uk-background-secondary uk-height-1-1">
	<head>
		<!-- Chrome -->
		<meta name="theme-color" content="#232323">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<title>Cinema</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body class="uk-light uk-height-1-1 uk-container uk-padding-remove">
		<%= yield %>
		<%= javascript_pack_tag "application" %>
	</body>
</html>
